<div class='card'>
    <div class='card-image'>
        <img src='https://placehold.co/234x102.png' />
    </div>
    <div class='card-content'>
        <div class='card-box card-title'>Título 1</div>
        <div class='card-box card-description'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore animi, iure incidunt obcaecati
            nihil
        </div>
        <div class='card-box card-buttons'>
            <button class='card-button'>Inscrever 1</button>
            <button class='card-button'>Preview 1</button>
        </div>
    </div>
</div>