* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 20px;
}

#app {
    margin: 0 auto;
    height: 100%;
}
